@import 'libs/bootstrap-reboot.min';

@import 'base/variables';
@import 'base/mixins';

@import 'blocks/general';

@import 'blocks/header';
@import 'blocks/cp-promo';
@import 'blocks/mob-switch';
@import 'blocks/s-slider';
@import 'blocks/cp-video';
@import 'blocks/product-shop';
@import 'blocks/cp-manf-csi';
@import 'blocks/cp-choice';


@import 'blocks/footer';