@import 'libs/bootstrap-reboot.min';

@import 'base/variables';
@import 'base/mixins';

@import 'blocks/general';
@import 'blocks/header';
@import 'blocks/promo';

@import 'blocks/setprisma';
@import 'blocks/sp-about';
@import 'blocks/sp-errors';
@import 'blocks/oppties';
@import 'blocks/sp-autom';

@import 'blocks/solution';
@import 'blocks/case';
@import 'blocks/offer';
@import 'blocks/footer';