.ic-guide {
    background-color: #F5F5F5;
    padding: 145px 0 100px;
    position: relative;
    --mh: 520px;
    min-height: calc(var(--mh) + 45px);
    &::after {
        position: absolute;
        content: url("data:image/svg+xml,%3Csvg width='32' height='357' viewBox='0 0 32 357' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.0312 70.8378L4.80472 44.6113C-0.272093 39.5345 -0.272091 31.3033 4.80473 26.2265L31.0312 0V70.8378Z' fill='%230C478B'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.0312 171.676L4.80472 145.449C-0.272093 140.372 -0.272091 132.141 4.80473 127.064L31.0312 100.838V171.676Z' fill='%230C478B'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.0312 357L4.80472 330.773C-0.272093 325.697 -0.272091 317.465 4.80473 312.389L31.0312 286.162V357Z' fill='%23FDCE25'/%3E%3C/svg%3E ");
        right: 0;
        top: 110px;
    }
    &__row {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__img {
        position: absolute;
        left: 0;
        top: 0;
        img {
            height: var(--mh);
        }
        &::before {
            position: absolute;
            content: url("data:image/svg+xml,%3Csvg width='226' height='163' viewBox='0 0 226 163' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='187.195' y='86' width='54.0164' height='54.0164' rx='8.88393' transform='rotate(45 187.195 86)' fill='%23FDCE25'/%3E%3Crect x='80.9766' width='114.518' height='114.518' rx='18.8344' transform='rotate(45 80.9766 0)' fill='%23E9660B'/%3E%3Cmask id='mask0_401_1065' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='7' y='7' width='148' height='148'%3E%3Crect x='80.9766' width='114.518' height='114.518' rx='18.8344' transform='rotate(45 80.9766 0)' fill='%23E9660B'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_401_1065)'%3E%3C/g%3E%3C/svg%3E%0A");
            bottom: -55px;
        }
    }
    &__block {
        display: contents;
    }
    &__title {
        max-width: 520px;
        margin-bottom: 80px;
        margin-right: 120px;
        span {
            color: #0C478B;
            font-weight: 600;
        }
    }
    &__text {
        max-width: 480px;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #000000;
    }
}

@media (max-width: 1439px) {
    .ic-guide {
        &__title {
            margin-right: 0;
            text-align: right;
        }
    }
}

@media (max-width: 1199px) {
    .ic-guide {
        &__img {
            left: -200px;
        }
    }
}

@media (max-width: 1023px) {
    .ic-guide {
        padding-bottom: 30px;
        padding-top: 0;
        &__img {
            position: relative;
            left: unset;
            img {
                max-width: 100%;
            }
        }
        &__row {
            padding-top: 60px;
        }
        &__title {
            text-align: center;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        &__text {
            text-align: center;
            margin: 0 auto;
        }
    }
}

@media (max-width: 767px) {
    .ic-guide {
        padding-bottom: 30px;
        &__img {
            &::before {
                content: url("data:image/svg+xml,%3Csvg width='99' height='73' viewBox='0 0 99 73' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='81.8672' y='38.1699' width='24' height='24' rx='3.86638' transform='rotate(45 81.8672 38.1699)' fill='%23FDCE25'/%3E%3Crect x='35.3984' y='0.742188' width='49.4973' height='49.4973' rx='8.19693' transform='rotate(45 35.3984 0.742188)' fill='%23E9660B'/%3E%3Cmask id='mask0_754_1545' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='3' y='4' width='65' height='64'%3E%3Crect x='35.3984' y='0.742188' width='49.4973' height='49.4973' rx='8.19693' transform='rotate(45 35.3984 0.742188)' fill='%23E9660B'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_754_1545)'%3E%3C/g%3E%3C/svg%3E ");
                bottom: -41px;
            }
            img {
                height: unset;
            }
        }
    }
}

@media (max-width: 575px) {
    .ic-guide {
        padding-bottom: 30px;
        min-height: auto;
        &::after {
            display: none;
        }
        &__title {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 25px;
        }
        &__text {
            font-size: 12px;
            line-height: 16px;
        }
    }
}