.ic-func {
    padding: 80px 0 100px;
    &__row {
        display: grid;
        grid-template-columns: 1fr 280px;
        column-gap: 140px;
    }
    &__title {
        margin-bottom: 70px;
    }
    &__display {
        display: none;
        &_active {
            display: unset;
        }
    }
    &__list {
        position: relative;
        list-style-type: none;
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 1px;
            background-color: #000000;
            left: -70px;
            top: 0;
        }
        &-item {
            position: relative;
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            cursor: pointer;
            &:not(:last-child) {
                margin-bottom: 30px;
            }
            &_active {
                font-weight: 600;
                color: #E9660B;
                &::before {
                    position: absolute;
                    content: '';
                    width: 11px;
                    height: 11px;
                    top: 3px;
                    left: -22px;
                    background: #E9660B;
                    border-radius: 1.7px;
                    transform: rotate(45deg);
                }
            }
        }
    }
    &__text {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #838383;
        &-more {
            display: none;
            &_visible {
                display: block;
            }
        }
    }
    &__more {
        font-weight: 600;
        text-decoration: none;
        color: #0C478B;
    }
    &__slider {
        margin-bottom: 30px;
        .swiper {
            width: 650px;
            &-pagination {
                bottom: 0px;
                &-bullet {
                    width: 10px;
                    height: 10px;
                    border: 1px solid #FFFFFF;
                    background: transparent;
                    opacity: 1;
                    &-active {
                        background: #FFF;
                    }
                }
            }
        }
    }
}

@media (max-width: 1439px) {
    .ic-func {
        &__row {
            grid-template-columns: 1fr 300px;
            column-gap: 40px;
        }
        &__list {
            &::before {
                left: -20px;
            }
        }
    }
}

@media (max-width: 1023px) {
    .ic-func {
        &__row {
            grid-template-columns: 1fr 300px;
            column-gap: 40px;
        }
        &__list {
            &::before {
                left: -10px;
            }
        }
        &__slider {
            .swiper {
                width: 400px;
                &-pagination {
                    bottom: -4px;
                }
            }
        }
        &__img {
            img {
                max-width: 100% !important;
                width: 100%;
            }
        }
    }
}

@media (max-width: 767px) {
    .ic-func {
        &__title {
            margin-bottom: 40px;
        }
        &__row {
            grid-template-columns: 1fr;
            justify-content: center;
            justify-items: center;
        }
        &__right { 
            grid-row: 1;
        }
        &__list {
            &::before {
                height: 1px;
                width: 100%;
                right: unset;
                left: 0;
                bottom: -20px;
                top: unset;
            }
            margin-bottom: 40px;
        }
        &__slider {
            .swiper {
                max-width: 400px;
                width: unset;
            }
        }
        &__left, &__right {
            display: none;
        }
    }
}

@media (max-width: 575px) {
    .ic-func {
        padding: 60px 0;
    }
}

@media (max-width: 450px) {
    .ic-func {
        &__slider {
            .swiper {
                max-width: calc(100vw - 20px);
                width: unset;
                &-pagination {
                    bottom: -3px;
                    &-bullet {
                        width: 6px;
                        height: 6px;
                        margin: 0 var(--swiper-pagination-bullet-horizontal-gap,2px);
                    }
                }
            }
        }
    }
}