.ic-more {
    padding: 115px 0 80px;
    background-color: #F5F5F5;
    min-height: 542px;
    position: relative;
    &__img {
        position: absolute;
        top: 0;
        right: 0;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 365px);
        grid-auto-rows: auto;
        column-gap: 50px;
        row-gap: 80px;
        margin-bottom: 50px;
    }
    &__item {
        display: grid;
        grid-template-rows: 70px auto;
        row-gap: 25px;
        justify-items: center;
        justify-content: center;
        &-title {
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #000000;
            margin-bottom: 15px;
        }
        &-text {
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #838383;
        }
    }
    &__btn {
        background: #0C478B;
        justify-self: center;
    }
    &__wrapper {
        display: grid;
        max-width: fit-content;
    }
}