.software {
    .mob-switch__nav{
        display: none;
    }
    &_home {
        padding: 110px 0;
    }
    &__slider {
        width: 100%;
        height: auto;
    }
    &__slide {
        // width: 280px;
        max-width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-items: center;
        img {
            // max-width: 100%;
            max-width: 250px;
        }
    }
    &__wrapper {
        position: relative;
    }
    &__title {
        margin-bottom: 110px;
        span{
            color: #0C478B;
            font-weight: 600;
        }
    }
    .swiper {
        &-button {
            &-prev {
                right: auto;
                left: -70px;
            }
            &-next {
                left: auto;
                right: -70px;
            }
            &-prev, &-next {
                &::after {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .software {
        .swiper {
            &-button {
                &-prev {
                    left: 0px;
                }
                &-next {
                    right: 0px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .software {
        .swiper {
            &-button {
                &-prev {
                    left: 36%;
                }
                &-next {
                    right: 36%;
                }
                &-prev, &-next {
                    top: unset;
                    bottom: -60px;
                    position: absolute;
                }
            }
        }
    }
}