.mission{
    position: relative;
    &-home{
        min-height: 560px;
        margin-bottom: 110px;
    }
    &__wrapper{
        padding-top: 110px;
        position: relative;
        img{
            position: absolute;
            top: -3px;
        }
    }
    &__absolute{
        position: absolute;
        bottom: 0;
        right: 130px;
    }
    &__title{
        font-weight: 600;
        color: #0C478B;
        margin-bottom: 65px;
    }
    &__texts{
        right: 0;
        position: absolute;
    }
    &__subtitle{
        font-weight: 600;
        color: #000000;
    }
    &__sb1{
        position: relative;
        right: 235px;
    }
    &__sb2{
        position: relative;
        right: 175px;
        top: 15px;
    }
}