.worth{
    padding: 110px 0;
    &__title{
        margin-bottom: 75px;
    }
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-auto-rows: auto;
        column-gap: 20px;
    }
    &__icon{
        margin-bottom: 15px;
        img{
            display: block;
            margin: 0 auto;
        }
    }
    &-item{
        &__title{
            text-align: center;
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
        }
        &__info{
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            color: #838383;
        }
    }
}
@media(max-width:1200px){
    .worth__wrapper {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        grid-auto-rows: auto;
        -moz-column-gap: 20px;
        column-gap: 20px;
    }
    .worth-item__info{
        br{
            display: none;
        }
    }
}
@media(max-width:500px){
    .worth__wrapper {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        grid-auto-rows: auto;
        -moz-column-gap: 20px;
        column-gap: 20px;
    }
}
