.mission{
    position: relative;
    &-home{
        min-height: 560px;
        margin-bottom: 110px;
    }
    &__wrapper{
        padding-top: 110px;
        position: relative;
        img{
            position: absolute;
            top: -3px;
        }
    }
    &__absolute{
        position: absolute;
        bottom: 0;
        right: 130px;
    }
    &__title{
        font-weight: 600;
        color: #0C478B;
        margin-bottom: 65px;
    }
    &__texts{
        right: 0;
        position: absolute;
    }
    &__subtitle{
        font-weight: 600;
        color: #000000;
    }
    &__sb1{
        position: relative;
        right: 235px;
    }
    &__sb2{
        position: relative;
        right: 175px;
        top: 15px;
    }
}
@media(max-width:1320px){
    .mission{
        overflow: hidden;
        &__wrapper{
            padding-top: 50px;
            img{
                width: 500px;

            }
        }
        &__subtitle{
            display: flex;
            justify-content: flex-end;
            position: static;
        }
        &__absolute{
            display: none;
        }
    }
}
@media(max-width:950px){
    .mission{
        &__wrapper{
            img{
                left: -100px;
            }
        }
    }
}
@media(max-width:800px){
    .mission{
        &__texts{
            position: static;
        }
        &__subtitle{
            justify-content: flex-start;
            width: 100%;
            br{
                display: none;
            }
        }
        &__info{
            padding: 0 12px;
        }
        &__wrapper{
            img{
                margin-top: 50px;
                position: static;
            }
        }
        &__absolute{
            display: block;
            bottom: 150px; 
            right: 0;
        }
    }
}
@media(max-width:550px){
    .mission__wrapper img {
        width: 330px;
    }
    .mission{
        &__absolute{
            bottom: 120px;
            width: 130px;
        }
    }
}
