.awards {
    .mob-switch__nav{
        display: none;
    }
    background: #F5F5F5;
    position: relative;
    padding: 110px 0;
    &__abs{
        position: absolute;
        right: 70px;
        top: 35px;
    }
    &__title{
        margin-bottom: 75px;
    }
    .container{
        position: relative;
    }
    &__slider {
        width: 100%;
        // height: 350px;
    }
    &__slide {
        display: grid;
        place-content: center;
        align-self: center;
    }
    &__wrapper {
        position: relative;
        width: 100%;
    }
    .swiper {
        padding: 38px 0;
        &-slide{
            width: 100%;
            img{
                // max-width: 200px;
                width: 100%;
                opacity: 0.5;
                transform: scale(.8);
                transition: all .3s;
            }
        }
        &-slide-active{
            width: 100%;
            img{
                opacity: 1;
                width: 100%;
                // max-width: 120%;
                transform: scale(1.2);
            }
        }
        &-button {
            &-prev {
                left: 0;
            }
            &-next {
                right: 0;
            }
            &-prev, &-next {
                &::after {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1439px) {
    .awards {
        .swiper-slide-active img {
            width: 530px;
        }
    }
}

@media (max-width: 1200px) {
    .awards .swiper-slide-active img {
        width: 450px;
    }
    .awards {
        .swiper {
            &-slide {
                img {
                    transition: unset;
                    transform: unset;
                    max-width: 100%;
                    opacity: 1;
                }
            }
        }
    }
}

@media(max-width:685px){
    .awards__abs{
        display: none;
    }
    .awards__wrapper{
        position: relative;
    }
    .awards__slider{
        height: 100%;
    }
    .awards .swiper-slide-active img {
        opacity: 1;
    }
}
@media(max-width:576px){
    .awards .swiper-slide-active img {
        max-width: 100%;
    }
}

@media (max-width: 1199px) {
    .awards {
        .swiper {
            &-button {
                &-prev {
                    left: 0px;
                }
                &-next {
                    right: 0px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .awards {
        .swiper {
            &-button {
                &-prev {
                    left: 36%;
                }
                &-next {
                    right: 36%;
                }
                &-prev, &-next {
                    top: unset;
                    bottom: -60px;
                    position: absolute;
                }
            }
        }
    }
}