.software {
    .mob-switch__nav{
        display: none;
    }
    &_home {
        padding: 110px 0;
    }
    &__slider {
        width: 100%;
        height: auto;
    }
    &__slide {
        width: 280px;
    }
    &__wrapper {
        position: relative;
    }
    &__title {
        margin-bottom: 110px;
        span{
            color: #0C478B;
            font-weight: 600;
        }
    }
    .swiper {
        &-button {
            &-prev {
                right: auto;
                left: -70px;
            }
            &-next {
                left: auto;
                right: -70px;
            }
            &-prev, &-next {
                &::after {
                    display: none;
                }
            }
        }
    }
}


@media(max-width:900px){
    .software .swiper-button-prev {
        display: none;
        position: static;
    }
    .software .swiper-button-next {
        display: none;
        position: static;
    }
    .software{
        .mob-switch__nav{
            display: flex;
            max-width: 93px;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            height: 27px;
            margin-top: 50px;
            .swiper-button-prev, .swiper-button-next{
                display: block !important;
            }
        }
    }
}


