.banner{
    background: url('../img/abstract-office-desktop.png') center center / cover no-repeat;
    height: 200px;
    margin-bottom: 75px;
    &__title{
        text-align: left;
        padding: 70px 0;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        color: #FFFFFF;
    }
}
@media(max-width:550px){
    .banner{
        margin-bottom: 20px;
        background: url('../img/blog-mini.png') center center / cover no-repeat;
        height: 150px;
        padding: 40px 0;
        &__title{
            text-align: center;
            padding: 0;
        }
    }
}