.case {
    position: relative;
    &_home {
        padding: 10px 0 55px;
    }
    &_sp {
        padding: 110px 0 55px;
    }
    &__title {
        margin-bottom: 74px;
    }
    &__wrapper {
        position: relative;
    }
    &__slider {
        width: 100%;
        height: 260px;
    }
    &__item {
        max-width: 550px;
        display: grid;
        grid-template-columns: 180px 1fr;
        grid-template-rows: minmax(260px, auto);
        column-gap: 22px;
        &-img {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
        &-text {
            padding-top: 10px;
        }
        &-title {
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
            margin-bottom: 20px;
        }
        &-excerpt {
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #838383;
            margin-bottom: 20px;
        }
        &-link {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
            text-decoration: underline;
            color: #0C478B;
        }
    }
    &__telegram {
        top: 188px;
        right: 27px;
    }
    .swiper {
        &-button {
            &-prev {
                right: auto;
                left: -30px;
            }
            &-next {
                left: auto;
                right: -30px;
            }
            &-prev, &-next {
                &::after {
                    display: none;
                }
            }
        }
    }
}

