.causes {
    background: #F5F5F5;
    position: relative;
    &::before {
        position: absolute;
        content: url('../icons/causes-triangle.svg');
        left: 90px;
        top: 0;
    }
    &__home{
        padding-bottom: 80px;
        min-height: 860px;
    }
    & .container{
        position: relative;
    }
    &-row{
        position: absolute;
        top: -100px;
    }
    &__grid {
        display: grid;
        place-content: center;
        row-gap: 80px;
        &_2c {
            grid-template-columns: repeat(2, 600px);
            column-gap: 65px;
        }
    }
    &__title {
        background: url('../icons/causes-bg2.svg') center center / cover no-repeat;
        padding: 90px 0 240px;
        font-weight: 600;
        font-size: 40px;
        line-height: 49px;
        text-align: center;
        color: #FFFFFF;
    }
    &__item{
        display: flex;
        &-icon{
            margin-right: 20px;
        }
        &-title{
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            margin-bottom: 20px;
        }
        &-txt{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #838383;
        }
    }
}
