.clients {
    &_home {
        padding: 100px 0;
    }
    &_sc {
        padding: 100px 0 10px;
    }
    &_fisc {
        padding: 110px 0 10px;
    }
    &__slider {
        width: 100%;
        height: auto;
    }
    &__slide {
        width: 280px;
        display: grid;
        place-content: center;
    }
    &__wrapper {
        position: relative;
    }
    &__title {
        margin-bottom: 74px;
    }
    .swiper {
        &-button {
            &-prev {
                right: auto;
                left: -30px;
            }
            &-next {
                left: auto;
                right: -30px;
            }
            &-prev, &-next {
                &::after {
                    display: none;
                }
            }
        }
    }
}


