.promo{
    &__home{
        padding-bottom: 110px;
    }
    &__head{
        background: #F5F5F5;
        padding: 15px 0 45px 0;
        position: relative;
        img{
            position: absolute;
            right: 0;
            top: auto;
            bottom: 0;
            width: 132px;
        }
    }
    &__title{
        span {
            color: #0C478B;
            font-weight: 600;
        }
    }
    &__benefit{
        position: absolute;
        top: -15px;
        left: -35px;
        z-index: 100;
    }
    &__nav{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        i{
            width: 5px;
            height: 5px;
            margin: 0 13px;
        }
        a{
            display: block;
            text-decoration: none;
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            color: #838383;
        }
    }
    &__img{
        position: relative;
        img {
            max-width: 332px;
        }
    }
    /**slider*/
    &__slider {
        width: 350px;
        margin: 0;
    }
    &__slider2{
        position: relative;
        height: 100%;
    }
    &__slide {
        img{
            max-width: 335px;
        }
    }
    .swiper{
        &-pagination{
            position: absolute;
            width: 350px;
            bottom: -15px; //-25
            text-align: center;
        }
        &-pagination2{
            position: absolute;
            width: 350px;
            bottom: -25px;
            text-align: center;
        }
    }
    .swiper-pagination-bullet {
        background: #FFFFFF;
        border: 2px solid #0C478B;
        background: #ffffff;
    }
    .swiper-pagination-bullet-active {
    background-color: #0C478B;
    }
    /**switch**/
    &__row {
        display: flex;
        justify-content: space-between;
    }
    &__switch {
        display: grid;
        grid-template-columns: 320px 350px;
        column-gap: 100px;
    }
    &__list {
        position: relative;
        list-style-type: none;
        &::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 1px;
            background-color: #000000;
            right: -50px;
            top: 0;
        }
        &_reversed {
            &::after {
                right: unset;
                left: -20px;
            }
        }
        &-item {
            position: relative;
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            cursor: pointer;
            &:not(:last-child) {
                margin-bottom: 30px;
            }
            &_active {
                font-weight: 600;
                color: #E9660B;
                &::before {
                    position: absolute;
                    content: '';
                    width: 11px;
                    height: 11px;
                    top: 3px;
                    left: -22px;
                    background: #E9660B;
                    border-radius: 1.7px;
                    transform: rotate(45deg);
                }
            }
        }
    }
    &__descr {
        height: 100%;
        position: relative;
        display: none;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #000000;
        padding-bottom: 60px;
        &_active {
            display: block;
        }
    }
    &__btn {
        position: absolute;
        bottom: -50px;
    }
    /**table**/
    &__table{
        width: 100%;
        margin-left: 100px;
    }
    &__buttons{
        text-align: right;
        margin-top: 50px;
    }
    &__download{
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: right;
        color: #000000;
        &-btn{
            border:none;
            margin-top: 30px;
        }
    }
}
.table{
    &__tr{
        td{
            padding: 15px 0;
            border-bottom: 1px solid #E9660B;
        }
    }
    &__cell{
        &-title{
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            color: #000000;  
            width: 40%;
        }
        &-info{
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            color: #838383; 
            width: 45%;
        }
    }
}
/**grey - arrow**/
i {
    border: solid #838383;
    border-width: 0 3px 3px 0;
    border-radius: 2px;
    display: inline-block;
    padding: 2px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
/**tabs**/
.tabs{
    &__wrapp{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__wrapp2{
        display: flex;
        justify-content: space-between;
    }
}
.tabs__nav {
    display: flex;
}
.tabs__nav-btn {
    color:#838383;
    font-weight: 700;
    font-size: 20px;
    border:none;
    border-top: 2px solid #838383;
    width: 100%;
    cursor: pointer;
    margin-right: 20px;
    padding-top: 25px;
    background: transparent;
}
.tabs__nav-btn:last-child {
    margin-right: 0;
}
.tabs__nav-btn.active {
    border-top: 2px solid #0C478B;
    color: #0C478B;
}
.tabs__content {
    padding: 30px 0 0 0;
}
.tabs__item {
    display: none;
    position: relative;
}
.tabs__item.active {
    display: block;
}

@media (max-width: 1199px) {
    .promo {
        &__switch {
            grid-template-columns: 285px 1fr;
            column-gap: 30px;
        }
        &__list {
            &::after {
                right: -5px;
            }
        }
    }
}

@media (max-width: 1023px) {
    .tabs {
        &__wrapp, &__wrapp2 {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }
    }
    .promo {
        &__switch {
            display: none;
        }
        &__table {
            margin: 0;
        }
        &__head {
            z-index: 1;
            img {
                z-index: -1;
            }
        }
    }
}

@media (max-width: 767px) {
    .tabs {
        &__nav {
            flex-direction: column;
            &-btn {
                margin-right: 0;
                border-top: unset;
                border-bottom: 1px solid #D9D9D9;
                font-size: 14px;
                line-height: 17px;
                text-align: left;
                padding: 20px 0;
                position: relative;
                &.active {
                    border-top: unset;
                    &::after {
                        content: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.00023 8.37621C6.83572 8.37716 6.67265 8.34563 6.52035 8.28342C6.36805 8.22122 6.22953 8.12956 6.11273 8.01371L1.11273 3.01371C0.996184 2.89716 0.903733 2.7588 0.840657 2.60652C0.777582 2.45424 0.745117 2.29103 0.745117 2.12621C0.745117 1.96138 0.777582 1.79817 0.840657 1.6459C0.903733 1.49362 0.996184 1.35526 1.11273 1.23871C1.22928 1.12216 1.36764 1.02971 1.51992 0.966633C1.6722 0.903557 1.83541 0.871094 2.00023 0.871094C2.16506 0.871094 2.32827 0.903557 2.48054 0.966633C2.63282 1.02971 2.77118 1.12216 2.88773 1.23871L7.00023 5.37621L11.1252 1.40121C11.2402 1.27335 11.3804 1.17058 11.5369 1.09935C11.6934 1.02812 11.8629 0.989948 12.0349 0.987224C12.2068 0.9845 12.3775 1.01728 12.5362 1.08352C12.6948 1.14976 12.8382 1.24803 12.9571 1.37219C13.0761 1.49634 13.1682 1.64371 13.2276 1.80508C13.2871 1.96645 13.3126 2.13834 13.3025 2.31001C13.2925 2.48168 13.2471 2.64943 13.1693 2.80278C13.0915 2.95612 12.9829 3.09176 12.8502 3.20121L7.85023 8.02621C7.62164 8.2466 7.31774 8.37174 7.00023 8.37621Z' fill='%230C478B'/%3E%3C/svg%3E ");
                    }
                }
                &::after {
                    position: absolute;
                    content: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.00023 8.37621C6.83572 8.37716 6.67265 8.34563 6.52035 8.28342C6.36805 8.22122 6.22953 8.12956 6.11273 8.01371L1.11273 3.01371C0.996184 2.89716 0.903733 2.7588 0.840657 2.60652C0.777582 2.45424 0.745117 2.29103 0.745117 2.12621C0.745117 1.96138 0.777582 1.79817 0.840657 1.6459C0.903733 1.49362 0.996184 1.35526 1.11273 1.23871C1.22928 1.12216 1.36764 1.02971 1.51992 0.966633C1.6722 0.903557 1.83541 0.871094 2.00023 0.871094C2.16506 0.871094 2.32827 0.903557 2.48054 0.966633C2.63282 1.02971 2.77118 1.12216 2.88773 1.23871L7.00023 5.37621L11.1252 1.40121C11.2402 1.27335 11.3804 1.17058 11.5369 1.09935C11.6934 1.02812 11.8629 0.989948 12.0349 0.987224C12.2068 0.9845 12.3775 1.01728 12.5362 1.08352C12.6948 1.14976 12.8382 1.24803 12.9571 1.37219C13.0761 1.49634 13.1682 1.64371 13.2276 1.80508C13.2871 1.96645 13.3126 2.13834 13.3025 2.31001C13.2925 2.48168 13.2471 2.64943 13.1693 2.80278C13.0915 2.95612 12.9829 3.09176 12.8502 3.20121L7.85023 8.02621C7.62164 8.2466 7.31774 8.37174 7.00023 8.37621Z' fill='%23838383'/%3E%3C/svg%3E%0A");
                    right: 42px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
    .promo {
        padding-bottom: 100px;
        &__img {
            img {
                max-width: 250px;
            }
        }
        &__title {
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            padding: 0 50px;
        }
        &__nav {
            margin-bottom: 40px;
        }
        .swiper-pagination {
            width: 100%;
        }
        &__head {
            overflow: hidden;
            padding: 15px 0 54px 0;
            img {
                width: 93px;
                height: 85px;
                top: unset;
                bottom: 0;
                right: -30px;
            }
        }
        &__slide {
            img {
                display: block;
                margin: 0 auto;
                width: auto;
                height: auto;
                max-width: 70%;
            }
        }
        &__slider {
            width: calc(100vw - 24px);
        }
        &__switch {
            grid-template-columns: 1fr;
            width: 100%;
        }
        &__row {
            width: 100%;
        }
        &__descr {
            font-size: 12px;
            line-height: 17px;
        }
        &__list {
            &-item {
                font-size: 14px;
                line-height: 17px;
            }
            &::after {
                height: 1px;
                width: 100%;
                right: unset;
                left: 0;
                bottom: -20px;
                top: unset;
            }
            margin-bottom: 40px;
        }
        &__btn {
            left: 50%;
            transform: translateX(-50%);
        }
        &__nav {
            a {
                font-size: 10px;
                line-height: 12px;
            }
        }
        &__benefit {
            top: 0px;
            left: 20px;
            img {
                width: 62px;
                height: 62px;
            }
        }
        &__buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__download {
            font-size: 14px;
            line-height: 145.9%;
            text-align: center;
            &-btn {
                margin-top: 20px;
                font-size: 14px;
                line-height: 145.9%;
            }
        }
    }
    .table {
        &__cell {
            &-info, &-title {
                font-size: 10px;
                line-height: 14px;
            }
        }
        &__tr {
            td {
                padding: 10px 0;
            }
        }
    }
}