.video{
    &__home{
        padding-top: 110px;
    }
    &__title{
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        color: #0C478B;
        margin-bottom: 75px;
    }
    &__frame{
        display: block;
        margin: 0 auto;
        width: 715px;
        height: 415px;
        border-radius: 30px 30px 30px 30px;
    }
}