.cp-slider {
    padding: 110px 0;
    &__wrapper {
        position: relative;
    }
    &__title {
        margin-bottom: 70px;
    }
    &__item {
        @media (max-width: 575px) {
            text-align: right;
        }
        color: #000000; 
        text-decoration: none;
        @media (min-width: 576px) {
            position: relative;
            padding-top: 40px;
        }
        &:hover {
            color: #000000;
        }
        &-img{
            background: url("data:image/svg+xml,%3Csvg width='273' height='273' viewBox='0 0 273 273' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='136.421' y='-5' width='200' height='200' rx='12.6803' transform='rotate(45 136.421 -5)' fill='%23F5F5F5'/%3E%3C/svg%3E%0A") center center / contain no-repeat;
            max-width: 340px;
            display: grid;
            text-align: right;
            justify-content: flex-end;
            align-items: center;
            transition: background .3s ease;
            &:hover {
                background: url("data:image/svg+xml,%3Csvg width='273' height='273' viewBox='0 0 273 273' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='136.421' y='-5' width='200' height='200' rx='12.6803' transform='rotate(45 136.421 -5)' fill='%23FECB00'/%3E%3C/svg%3E%0A") center center / contain no-repeat;
            }
        }
        &-title {
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            @media (min-width: 576px) {
                position: absolute;
                left: 54%;
                top: 0px;
            }
            &:hover {
                color: #000000;
            }
        }
    }
    .swiper {
        &-button {
            &-prev {
                right: auto;
                left: -30px;
            }
            &-next {
                left: auto;
                right: -30px;
            }
            &-prev, &-next {
                &::after {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .cp-slider {
        .swiper {
            &-button {
                &-prev {
                    left: 0px;
                }
                &-next {
                    right: 0px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .cp-slider {
        .swiper {
            &-button {
                &-prev {
                    left: 36%;
                }
                &-next {
                    right: 36%;
                }
                &-prev, &-next {
                    top: unset;
                    bottom: -60px;
                    position: absolute;
                }
            }
        }
    }
}