.manufacturer{
    overflow: hidden; 
    &__home{
        padding: 50px 0 70px;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        text-align: left;
        margin-bottom: 55px;
    }
    &__desc{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 141.68%;
        color: #838383;
        span{
            font-weight: 600;
            color: #0C478B;
        }
    }
    &__images{
        margin-top: 40px;
        img{
            margin-right: 45px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    &__present{
        margin-top: 75px;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    &__subtitle{
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
    }
    &__button{
        display: block;
        margin: 0 auto;
        width: fit-content;
        margin-top: 20px;
    }
}