.about {
    background: #F5F5F5;
    position: relative;
    padding: 75px 0 70px;
    &::before {
        position: absolute;
        content: url('../icons/causes-triangle.svg');
        left: 90px;
        top: 0;
        z-index: 3;
    }
    &__title,&__text{
        font-family: 'Montserrat';
    }
    &__top {
        svg {
            max-height: 295px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }
        .svg2 {
            display: none;
        }
    }
    &__title {
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        text-align: right;
        color: #FFFFFF;
        position: relative;
        z-index: 2;
        margin-bottom: 60px;
    }
    &__text{
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        color: #37474F;
        max-width: 670px;
    }
    &__slider {
        width: 100%;
        height: auto;
    }
    &__slide {
        width: 280px;
        display: grid;
        place-content: center;
        position: relative;
        &-zoom {
            position: absolute;
            right: 0;
            bottom: 0;
            opacity: 0;
            visibility: hidden;
            transform: scale(.8);
            transition: all .3s;
        }
    }
    &__wrapper {
        position: relative;
        padding: 70px 0;
    }
    .swiper {
        &-slide{
            opacity: 0.5;
        }
        &-slide-active{
            opacity: 1;
            .about__slide-zoom {
                visibility: visible;
                opacity: 1;
                transform: scale(1);
            }
        }
        &-button {
            &-prev {
                left: calc(50% - 200px);
            }
            &-next {
                right: calc(50% - 200px);
            }
            &-prev, &-next {
                &::after {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1439px) {
    .about {
        overflow: hidden;
        &__top {
            svg {
                width: 100vw;
            }
        }
    }
}

@media (max-width: 1023px) {
    .about {
        &__wrapper {
            padding: 50px 0;
        }
        &__title {
            font-size: 28px;
            line-height: 33px;
            margin-bottom: 80px;
        }
    }
}

@media (max-width: 767px) {
    .about {
        padding-top: 54px;
        &__wrapper {
            padding: 40px 0;
        }
        &__title {
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 90px;
        }
        &__top {
            .svg1 {
                display: none;
            }
            .svg2 {
                display: block;
                max-height: 200px;
            }
        }
    }
} 

@media (max-width: 575px) {
    .about {
        padding-top: 54px;
        &__wrapper {
            padding: 25px 0;
        }
        &__title {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 90px;
        }
        &__text {
            font-size: 12px;
            line-height: 141.7%;
        }
        .swiper {
            &-button {
                &-prev {
                    left: 36%;
                }
                &-next {
                    right: 36%;
                }
                &-prev, &-next {
                    top: unset;
                    bottom: -20px;
                    position: absolute;
                }
            }
        }
    }
} 