.reasons {
    background: #0C478B;
    position: relative;
    padding: 80px 0;
    margin-bottom: 100px;
    &__elem {
        position: absolute;
        bottom: 0; left: 0;
    }
    &__title {
        color: #FFFFFF;
        margin-bottom: 74px;
    }
    &__grid {
        display: grid;
        place-content: center;
        row-gap: 65px;
        &_4c {
            grid-template-columns: repeat(4, 1fr);
            column-gap: 65px;
        }
    }
    &__item {
        display: grid;
        justify-content: center;
        justify-items: center;
        &-icon {
            margin-bottom: 25px;
        }
        &-title {
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #FFFFFF;
        }
    }
}