.choice {
    &_home {
        padding: 100px 0;
    }
    &__slider {
        width: 100%;
        height: 320px;
    }
    &__slide {
        width: 250px;
        display: grid;
        place-content: center;
        & p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            text-align: right;
        }
    }
    &__wrapper {
        position: relative;
    }
    &__title {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        color: #000000;
        margin-bottom: 74px;
    }
    .swiper {
        &-button {
            &-prev {
                right: auto;
                left: -30px;
            }
            &-next {
                left: auto;
                right: -30px;
            }
            &-prev, &-next {
                &::after {
                    display: none;
                }
            }
        }
    }
}


