.fisc-software {
    padding: 110px 0;
    &__title {
        margin-bottom: 30px;
    }
    &__subtitle {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #000000;
        max-width: 715px;
        margin: 0 auto;
        margin-bottom: 70px;
    }
    &__slider {
        width: 100%;
        height: auto;
    }
    &__slide {
        max-width: 280px;
        display: grid;
        place-content: center;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    &__wrapper {
        position: relative;
    }
    .swiper {
        &-button {
            &-prev {
                right: auto;
                left: -30px;
            }
            &-next {
                left: auto;
                right: -30px;
            }
            &-prev, &-next {
                &::after {
                    display: none;
                }
            }
        }
    }
}


@media (max-width: 1199px) {
    .fisc-software {
        .swiper {
            &-button {
                &-prev {
                    left: 0px;
                }
                &-next {
                    right: 0px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .fisc-software {
        .swiper {
            &-button {
                &-prev {
                    left: 36%;
                }
                &-next {
                    right: 36%;
                }
                &-prev, &-next {
                    top: unset;
                    bottom: -60px;
                    position: absolute;
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .fisc-software {
        &__title {
            font-size: 20px;
            line-height: 24px;
        }
        &__subtitle {
            font-size: 14px;
            line-height: 17px;
        }
    }
}