@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

.swiper-wrapper {
    height: auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #E9660B;
    border-radius: 10px;
    text-decoration: none;
    padding: 18px 45px;
    min-width: 245px;
    text-align: center;
    &:hover {
        color: #FFFFFF;
    }
}

.title {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}

.telegram {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: grid;
    place-content: center;
    background-color: #36AEE2;
}

@media (max-width: 1439px) { // from 1200
    .container {
        width: 1120px;
    }
}

@media (max-width: 1199px) { // from 1024
    .container {
        width: 976px;
    }
}

@media (max-width: 1023px) { // from 768
    .container {
        width: 720px;
    }
}

@media (max-width: 767px) { // from 576
    .container {
        width: 540px;
    }
    .title {
        font-size: 26px;
        line-height: 31px;
    }
}

@media (max-width: 575px) { // from 375
    .container {
        width: 100%;
        padding: 0 12px;
    }
    .btn {
        font-size: 14px;
        line-height: 17px;
        padding: 16px 18px;
        min-width: 220px;
    }
    .title {
        font-size: 24px;
        line-height: 29px;
    }
}

@media (max-width: 374px) { // from 320
    
}