p{
    margin: 0;
}
.guide {
    &__home {
        padding: 100px 0;
    }
    &__title {
        margin-bottom: 74px;
    }
    &__btn-mob {
        display: none;
    }
    &__button{
        position: absolute;
        right: 0;
    }
    &-row{
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        position: relative;
    }
    &-bg{
        height: 100%;
    }
    &__content{
        position: absolute;
        left: 650px;
    }
    &__item{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        max-width: 490px;
        &:last-child{
            margin-bottom: 0;
        }
        &-info{
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            color: #000000;
            margin-left: 10px;
        }
    }
    &_g2{
        margin-left: 40px;
    }
    &_g3{
        margin-left: 80px;
    }
}

@media (max-width: 1199px) {
    .guide {
        &-bg {
            img {
                height: auto;
                width: 635px;
            }
        }
        &__content {
            top: 20px;
            left: 510px;
        }
        &__item {
            &-info {
                font-size: 18px;
                line-height: 23px;
            }
        }
    }
}

@media (max-width: 1023px) {
    .guide {
        &-bg {
            img {
                height: auto;
                width: 635px;
            }
        }
        &__content {
            position: relative;
            top: unset;
            left: unset;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        &-row {
            flex-direction: column-reverse;
            align-items: flex-start;
            row-gap: 30px;
        }
        &__button {
            display: none;
        }
        &_g2{
            margin-left: 0;
        }
        &_g3{
            margin-left: 0;
            margin-bottom: 0;
        }
        &__btn-mob {
            display: block;
            margin: 0 auto;
        }
    }
}

@media (max-width: 767px) {
    .guide {
        padding: 50px 0;
        &__title {
            margin-bottom: 45px;
            padding: 0 15px;
        }
        &-bg {
            img {
                height: auto;
                width: 100%;
                max-width: 100%;
            }
        }
        &__content {
            padding: 0 15px;
        }
        &__item {
            width: 100%;
        }
    }
}

@media (max-width: 575px) {
    .guide {
        &__item {
            &-info {
                font-size: 14px;
                line-height: 19px;
            }
            &-icon {
                img {
                    width: 42px;
                    height: 42px;
                }
            }
        }
    }
}