.oppties {
    &_home {
        padding: 52px 0 110px;
    }
    &__title {
        margin-bottom: 30px;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-auto-rows: auto;
        column-gap: 40px;
        row-gap: 40px;
    }
    &__list{
        &-item{
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #838383;
            margin-bottom: 20px;
        }
    }
    &__item {
        &-icon {
            position: relative;
            left: 50%;
            display: grid;
            place-content: center;
            width: 80px;
            height: 80px;
            background: #0C478B;
            border-radius: 12px;
            transform: rotate(45deg) translateX(-50%);
            img {
                transform: rotate(-45deg);
            }
        }
        &-title {
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
            margin-bottom: 16px;
        }
        &-descr {
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #838383;
        }
        &-title, &-descr {
            text-align: center;
        }
    }
}