.promo {
    position: relative;
    padding: 130px 0;
    margin-bottom: 110px;
    background: url('../img/pharmacy-bg.png') center center / cover no-repeat;
    &::before {
        position: absolute;
        content: url('../img/triangle-yellow-3.png'); 
        left: 0;      
    }
    &__title {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 42px;
        line-height: 51px;
        color: #0C478B;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #000000;
    }
    &__descr {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 30px;
    }
    &__title, &__subtitle, &__descr {
        max-width: 510px;
    }
    &__title{
        margin-bottom: 35px;
    }
    &__subtitle {
        font-family: 'Montserrat';
        margin-bottom: 65px;
    }
    &__row {
        position: relative;
    }
    &__img {
        position: absolute;
        top: -100px;
        right: -100px;
    }
}