.promo {
    position: relative;
    padding: 130px 0;
    background: url('../img/squares-gray-bg.jpg') center center / cover no-repeat;
    &::before {
        position: absolute;
        content: url('../img/triangle-yellow-3.png'); 
        left: 0;      
    }
    &__title {
        font-weight: 500;
        font-size: 48px;
        line-height: 59px;
    }
    &__subtitle {
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
    }
    &__descr {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 45px;
        &_big {
            font-size: 24px;
            line-height: 33px;
            margin-bottom: 30px;
        }
        &_sc {
            font-size: 20px;
            line-height: 24px;
        }
    }
    &__title, &__subtitle, &__descr {
        color: #000000;
        max-width: 510px;
    }
    &__title, &__subtitle {
        font-family: 'Montserrat';
        margin-bottom: 30px;
    }
    &__row {
        position: relative;
    }
    &__img {
        position: absolute;
        top: -100px;
        right: -100px;
        &_sc {
            top: -60px;
            right: -100px;
        }
    }
    &__play {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 43%;
        text-decoration: none;
        &-icon {
            margin-bottom: 20px;
        }
        &-text {
            font-family: 'Open Sans';
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #FFF;
        }
    }
    &__text {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #838383;
        max-width: 450px;
        margin-bottom: 90px;
        &_sc {
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 40px;
        }
        ul {
            list-style: none;
            li {
                position: relative;
                &::before {
                    content: url('../icons/check-orange.png');
                    position: absolute;
                    left: -38px;
                    top: -2px;
                }
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }
    }
}