.reasons {
    overflow: hidden;
    background: #0C478B;
    position: relative;
    padding: 80px 0;
    &__elem {
        position: absolute;
        bottom: 0; left: 0;
    }
    &__el2{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    &__title {
        color: #FFFFFF;
        margin-bottom: 74px;
    }
    &__grid {
        display: grid;
        place-content: center;
        row-gap: 65px;
        &_4c {
            grid-template-columns: repeat(4, 1fr);
            column-gap: 110px;
        }
        &_3c {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 120px;
        }
    }
    &__item {
        display: grid;
        justify-content: center;
        justify-items: center;
        &-icon {
            margin-bottom: 20px;
        }
        &-mininfo{
            margin-top: 10px;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            opacity: 0.6;
        }
        &-title {
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #FFFFFF;
        }
    }
}

@media (max-width: 1199px) {
    .reasons {
        &__grid {
            &_3c {
                column-gap: 30px;
            }
        }
    }
}

@media (max-width: 1023px) {
    .reasons {
        &__grid {
            &_4c {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

@media (max-width: 767px) {
    .reasons {
        &__grid {
            &_4c, &_3c {
                grid-template-columns: repeat(2, 1fr);
                row-gap: 50px;
            }
        }
        &__item-mininfo{
            br{
                display: none;
            }
        }
    }
}

@media (max-width: 575px) {
    .reasons {
        &__elem, &__el2 {
            opacity: 0.4;
        }
        &__item {
            &-title {
                font-size: 12px;
                line-height: 16px;
            }
        }
        &__grid {
            &_4c, &_3c {
                grid-template-columns: repeat(2, 1fr);
                column-gap: 20px;
                row-gap: 50px;
            }
        }
    }
}