.causes {
    background: #F5F5F5;
    position: relative;
    overflow: hidden;
    padding-top: 70px;
    .container{
        // position: relative;
    }
    &__top {
        svg {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            max-height: 295px;
        }
        .svg2 {
            display: none;
        }
    }
    &__home{
        min-height: 780px;
    }
    &-row{
        margin-top: 50px;
    }
    &__grid {
        display: grid;
        place-content: center;
        row-gap: 40px;
        &_2c {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 100px;
        }
    }
    &__top {
        // position: relative;
        // background: url('../icons/rp-causes-top.svg') center center / cover no-repeat;
        // height: 310px;
        margin-bottom: 152px;
        p{
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 18px;
            line-height: 141.7%;
            color: #FFFFFF;
            margin-top: 40px;
            position: relative;
            z-index: 2;
        }
        &-logo{
            position: absolute;
            background: url('../img/rp-causes-logo.png') center center no-repeat;
            background-size: 100% 100%;
            height: 245px;
            width: 245px;
            top: 30px;
            right: 158px;
            transition: background 0.2s;
            z-index: 3;
            &:hover{
                background: url('../img/rp-causes-logo-hover.png') center center / cover no-repeat;
            }
        }
    }
    &__title{
        position: relative;
        z-index: 2;
        color: #FFFFFF;
        text-align: left;
        span{
            color: #FDCE25;
        }
    }
    &__item{
        display: flex;
        align-items: flex-start;
        &-icon{
            margin-right: 20px;
        }
        &-title{
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #838383;
        }
        &-txt{
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #838383;
        }
    }
    &__present{
        margin-top: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__subtitle{
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
    }
    &__btn{
        background: #0C478B;
        white-space: nowrap;
    }
}

@media (max-width: 1439px) {
    .causes {
        &__top {
            &-logo {
                right: 65px;
            }
            svg {
                width: 100vw;
                max-height: 295px;
            }
        }
    }
}

@media (max-width: 1199px) {
    .causes {
        &__title {
            font-size: 30px;
            line-height: 34px;
        }
        &__top {
            &-logo {
                top: 40px;
                right: 25px;
                width: 190px;
                height: 190px;
            }
        }
    }
}

@media (max-width: 1023px) {
    .causes {
        padding: 55px 0;
        &__top {
            margin-bottom: 70px;
            p {
                margin-top: 25px;
            }
            .svg2 {
                display: block;
            }
            .svg1 {
                display: none;
            }
            &-logo {
                width: 140px;
                height: 140px;
                top: 100px;
                right: 18px;
            }
        }
        &__title {
            font-size: 24px;
            line-height: 34px;
        }
    }
}

@media (max-width: 767px) {
    .causes {
        &__grid {
            &_2c {
                grid-template-columns: 1fr;
            }
        }
        &__title {
            font-size: 16px;
            line-height: 20px;
        }
        &__top {
            margin-bottom: 118px;
            svg {
                max-height: 220px;
            }
            p {
                font-size: 12px;
                line-height: 141.7%;
            }
        }
        &__item {
            &-icon {
                img {
                    width: 24px;
                    height: 24px;
                }
            }
            &-title {
                font-size: 12px;
                line-height: 15px;
            }
        }
        &__present {
            display: flex;
            justify-content: unset;
            align-items: center;
            flex-direction: column;
            margin-top: 50px;
            gap: 30px;
        }
        &__subtitle {
            text-align: center;
            font-size: 14px;
            line-height: 145.9%;
        }
    }
}

@media (max-width: 575px) {
    .causes {
        &__top {
            &-logo {
                width: 124px;
                height: 124px;
                top: 140px;
                right: 18px;
            }
        }
    }
}