.sc-key {
    padding: 10px 0;
    &__mob {
        display: none;
    }
    &__row {
        padding: 90px 0 80px;
        min-height: 610px;
        background: url('../img/sc-key-bg.png') right center / contain no-repeat;
    }
    &__text {
        max-width: 640px;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #838383;
        ul {
            padding-left: 35px;
            list-style: none;
            li {
                position: relative;
                &::before {
                    position: absolute;
                    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='12.1133' y='-1' width='18.5451' height='18.5451' rx='3.05005' transform='rotate(45 12.1133 -1)' fill='%23FDCE25'/%3E%3C/svg%3E%0A");
                    top: 0;
                    left: -35px;
                }
                &:not(:last-child) {
                    margin-bottom: 40px;
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .sc-key {
        &__row {
            padding-bottom: 10px;
            background: url('../img/sc-key-bg.png') 120% center/contain no-repeat;
        }
        &__text {
            ul {
                li {
                    &:nth-child(n+4) {
                        max-width: 385px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    .sc-key {
        &__mob {
            display: flex;
            justify-content: flex-end;
            img {
                width: 100%;
                max-width: 100%;
            }
        }
        &__row {
            min-height: unset;
            padding-top: 50px;
            padding-bottom: 30px;
            background: none;
        }
        &__text {
            max-width: 100%;
            ul {
                li {
                    &:nth-child(n+4) {
                        max-width: unset;
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .sc-key {
        &__text {
            font-size: 12px;
            line-height: 16px;
            ul {
                li {
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}