.vakansii{
    background: #F5F5F5;
    padding: 80px 0;
    &__row {
        display: flex;
        justify-content: space-between;
    }
    
    &__switch {
        display: grid;
        grid-template-columns: 690px 350px;
        column-gap: 70px;
    }
    &-title{
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        color: #0C478B;
    }
    &-subtitle{
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #000000;
        margin: 30px 0 70px;
    }
    &__list {
        position: relative;
        list-style-type: none;
        padding-left: 100px;
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 1px;
            background-color: #000000;
            left: 0;
            top: 0;
        }
        &_reversed {
            &::after {
                right: unset;
                left: -20px;
            }
        }
        &-item {
            position: relative;
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            cursor: pointer;
            &:not(:last-child) {
                margin-bottom: 30px;
            }
            &_active {
                font-weight: 600;
                color: #E9660B;
                &::before {
                    position: absolute;
                    content: '';
                    width: 11px;
                    height: 11px;
                    top: 3px;
                    left: -22px;
                    background: #E9660B;
                    border-radius: 1.7px;
                    transform: rotate(45deg);
                }
            }
        }
    }
    &__descr {
        height: 100%;
        position: relative;
        display: none;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #000000;
        padding-bottom: 60px;
        &_active {
            display: block;
        }
    }
    &-more{
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        text-decoration-line: underline;
        color: #0C478B;
    }
    &__btn {
        display: block;
        margin-top: 30px;
    }
}
.hidden{
    display: none;
}
button{
    border: none;
    background: transparent;
}
@media (min-width: 1024px) {
    .mob-switch {
        display: none;
    }
}

@media (max-width: 1023px) {
    .vakansii__switch{
        display: none;
    }
    .mob-switch {
        counter-reset: item;
        display: grid;
        place-content: center;
        &__slider {
            max-width: calc(100vw - 24px);
            height: auto;
        }
        &__item {
            max-width: 425px;
            margin: 0 auto;
        }
        &__title {
            position: relative;
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #E9660B;
            text-align: center;
            max-width: 275px;
            margin: 0 auto;
            margin-bottom: 20px;
            &::before {
                counter-increment: item;
                content: counter(item);
                font-size: 0.85em;
                line-height: 100%;
                color: #FFFFFF;
                background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='11.0879' y='-0.845665' width='16.8766' height='16.8766' rx='2.65849' transform='rotate(45 11.0879 -0.845665)' fill='%23E9660B' stroke='%23E9660B' stroke-width='0.218262'/%3E%3C/svg%3E%0A");
                background-size: 100% 100%;
                width: 24px;
                height: 24px;
                display: inline-grid;
                place-items: center;
                margin-right: 5px;
            }
        }
        &__text {
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: #000000;
            margin-bottom: 22px;
        }
        &__img {
            max-width: fit-content;
            margin-bottom: 10px;
            img {
                display: block;
                max-width: 60%;
                margin: 0 auto;
                object-fit: cover;
            }
            &_p3 {
                height: 185px;
                width: 100%;
                img {
                    height: 100%;
                    width: 100vw;
                    max-width: 100%;
                    border-radius: 30px;
                }
            }
        }
        &__btn {
            display: block;
            max-width: max-content;
            margin: 0 auto;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        &__nav {
            display: flex;
            max-width: 93px;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            height: 27px;
        }
        .swiper {
            &-button {
                &-prev, &-next {
                    position: static;
                    inset: unset;
                    height: auto;
                    width: auto;
                    margin: unset;
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}