.oppties {
    padding: 110px 0;
    &__title {
        margin-bottom: 30px;
        &_sp {
            max-width: 870px;
            margin: 0 auto;
            margin-bottom: 100px;
        }
    }
    &__subtitle {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #000000;
        margin-bottom: 100px;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-auto-rows: auto;
        column-gap: 60px;
        row-gap: 40px;
    }
    &__item {
        &-icon {
            position: relative;
            left: 50%;
            display: grid;
            place-content: center;
            width: 80px;
            height: 80px;
            background: #0C478B;
            border-radius: 12px;
            transform: rotate(45deg) translateX(-50%);
            img {
                transform: rotate(-45deg);
            }
            &_numbered {
                position: relative;
                &::before {
                    position: absolute;
                    counter-increment: opptItem;
                    content: counter(opptItem);
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 39px;
                    color: #E9660B;
                    transform: rotate(-45deg);
                    top: 26px;
                    left: -41px;
                }
            }
        }
        &-title {
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
            margin-bottom: 16px;
        }
        &-descr {
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #838383;
        }
        &-title, &-descr {
            text-align: center;
        }
    }
}

body {
    counter-reset: opptItem;
}